/* line 36, ../sass/partials/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 33, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 40, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 153, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 174, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 181, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 188, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 196, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 203, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 210, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 216, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 222, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 228, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 235, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 239, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 253, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 264, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 270, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 283, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 289, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 300, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 311, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 316, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 325, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 339, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 349, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 358, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 372, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 380, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 389, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 399, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 409, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 415, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 422, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 434, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Champagne";
  src: url(/ladyxu/stylesheets/fonts/champagne/cac_champagne-webfont.ttf) format('truetype'), url(/ladyxu/stylesheets/fonts/champagne/cac_champagne-webfont.woff) format('woff'), url(/ladyxu/stylesheets/fonts/champagne/cac_champagne-webfont.svg) format('svg'), url(/ladyxu/stylesheets/fonts/champagne/cac_champagne-webfont.eot) format('embedded-opentype');
}

/*
@include font-face("Champagne", font-files(
"champagne/cac_champagne-webfont.ttf",
"champagne/cac_champagne-webfont.woff",
"champagne/cac_champagne-webfont.svg",
"champagne/cac_champagne-webfont.eot"));*/
/* line 9, ../sass/partials/_banner.scss */
#header-container {
  position: relative;
  width: 100%;
  height: 130px;
  margin: 0;
  padding: 0;
  background-color: #6f1123;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px #5a0e1c;
}

/* line 21, ../sass/partials/_banner.scss */
#curlysquare {
  position: absolute;
  display: block;
  width: 225px;
  height: 123px;
  left: -57px;
  top: 0px;
  /*background-color: black;*/
}
/* line 30, ../sass/partials/_banner.scss */
#curlysquare div {
  position: absolute;
  border-color: #5a0e1c;
  border-style: solid;
  border-width: 0;
}
/* line 38, ../sass/partials/_banner.scss */
#curlysquare #bars {
  left: 54px;
  top: 1px;
  width: 108px;
  height: 118px;
  border-width: 0 3px 3px 3px;
  /*background-color: #EEB5D6;*/
}
/* line 48, ../sass/partials/_banner.scss */
#curlysquare #left-ear {
  left: 1px;
  top: 1px;
  width: 50px;
  height: 50px;
  border-width: 3px 0 0 3px;
}
/* line 55, ../sass/partials/_banner.scss */
#curlysquare #left-ear #le-1 {
  left: 0px;
  top: 10px;
  width: 38px;
  height: 37px;
  border-width: 0 3px 3px 0;
}
/* line 63, ../sass/partials/_banner.scss */
#curlysquare #left-ear #le-2 {
  left: 10px;
  top: 10px;
  width: 26px;
  height: 24px;
  border-width: 3px 0 0 3px;
}
/* line 71, ../sass/partials/_banner.scss */
#curlysquare #left-ear #le-3 {
  left: 10px;
  top: 22px;
  width: 14px;
  height: 12px;
  border-width: 0 3px 3px 0;
}
/* line 80, ../sass/partials/_banner.scss */
#curlysquare #right-ear {
  left: 168px;
  top: 1px;
  width: 50px;
  height: 50px;
  border-width: 3px 3px 0 0;
}
/* line 87, ../sass/partials/_banner.scss */
#curlysquare #right-ear #re-1 {
  right: 0px;
  top: 10px;
  width: 38px;
  height: 37px;
  border-width: 0 0 3px 3px;
}
/* line 95, ../sass/partials/_banner.scss */
#curlysquare #right-ear #re-2 {
  right: 10px;
  top: 10px;
  width: 26px;
  height: 24px;
  border-width: 3px 3px 0 0;
}
/* line 103, ../sass/partials/_banner.scss */
#curlysquare #right-ear #re-3 {
  right: 10px;
  top: 22px;
  width: 14px;
  height: 12px;
  border-width: 0 0 3px 3px;
}

/* line 113, ../sass/partials/_banner.scss */
#crown {
  position: absolute;
  display: inline-block;
  right: 0px;
}
/* line 118, ../sass/partials/_banner.scss */
#crown img {
  height: 120px;
}

/* line 124, ../sass/partials/_banner.scss */
header[role=banner] {
  position: absolute;
  display: block;
  width: 50%;
  min-width: 400px;
  max-width: 800px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 136, ../sass/partials/_banner.scss */
header[role=banner] #logo {
  background-color: #6f1123;
  position: relative;
  display: inline-block;
  width: 106px;
  height: 118px;
  /*background-color: grey;*/
  /*border-style: solid;
  border-width: 4px;
  border-color: $main-border-color;*/
}
/* line 147, ../sass/partials/_banner.scss */
header[role=banner] #logo p {
  text-align: center;
  color: white;
  font-size: 48px;
  padding: 5px;
  margin: -5px 0;
  font-family: Tahoma, Helvetica, Arial, STXihei, "华文细黑", serif;
}
/* line 158, ../sass/partials/_banner.scss */
header[role=banner] nav {
  position: relative;
  display: inline-block;
  bottom: -3px;
  left: 7px;
}
/* line 164, ../sass/partials/_banner.scss */
header[role=banner] nav h3 {
  position: relative;
  display: inline;
  color: #a47f1a;
  font-size: 1.5em;
  top: -10px;
}
/* line 173, ../sass/partials/_banner.scss */
header[role=banner] nav ul {
  text-align: left;
  display: inline;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 180, ../sass/partials/_banner.scss */
header[role=banner] nav ul li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 8px 15px 13px;
  z-index: 8;
  font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", serif;
  color: white;
  text-decoration: none;
  font-size: 1em;
}
/* line 198, ../sass/partials/_banner.scss */
header[role=banner] nav ul li ul {
  position: absolute;
  display: none;
  left: -64px;
  top: 44px;
  width: 600px;
  height: 400px;
  z-index: 4;
  background-color: white;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-color: #5a0e1c;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 216, ../sass/partials/_banner.scss */
header[role=banner] nav ul li ul li {
  display: block;
  top: 30px;
  width: 95px;
  /*background-color: $main-red-color;*/
  color: #6f1123;
  text-align: left;
  margin: 3px 0;
  padding: 5px 15px 5px 20px;
  z-index: 4;
  border-style: none;
}
/* line 239, ../sass/partials/_banner.scss */
header[role=banner] nav ul li ul li:hover {
  font-weight: bold;
  border-style: none;
  margin: 3px 0;
}
/* line 250, ../sass/partials/_banner.scss */
header[role=banner] nav ul li:hover {
  background-color: white;
  color: #6f1123;
  font-weight: bold;
  margin: 0 -2px;
  border-style: solid;
  border-width: 2px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-color: #5a0e1c;
  border-bottom-color: white;
}
/* line 262, ../sass/partials/_banner.scss */
header[role=banner] nav ul li:hover ul {
  display: block;
}
/* line 268, ../sass/partials/_banner.scss */
header[role=banner] nav ul a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/_category_bar.scss */
#category_bar {
  position: relative;
  display: block;
  height: 100px;
  width: 800px;
  margin: 0 auto;
  background: #0FAA22;
}

/* line 1, ../sass/partials/_item_single_item.scss */
#single_item {
  position: absolute;
  display: block;
  height: 1000px;
  width: 800px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  /*background:#DFDFDF;*/
}

/*tag hole with white hole inside*/
/* line 16, ../sass/partials/_item_single_item.scss */
.tag_hole {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  right: 20px;
  top: 10px;
  background-color: #6f1123;
}
/* line 25, ../sass/partials/_item_single_item.scss */
.tag_hole div {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  right: 29%;
  bottom: 29%;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, to bottom right, to top left, color-stop(0%, #535353), color-stop(35%, #dddddd), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(to bottom right, #535353, #dddddd 35%, #ffffff 50%, #ffffff);
  background-image: -moz-linear-gradient(to bottom right, #535353, #dddddd 35%, #ffffff 50%, #ffffff);
  background-image: -o-linear-gradient(to bottom right, #535353, #dddddd 35%, #ffffff 50%, #ffffff);
  background-image: linear-gradient(to bottom right, #535353, #dddddd 35%, #ffffff 50%, #ffffff);
}

/* line 39, ../sass/partials/_item_single_item.scss */
#medium_img_box {
  display: inline;
  float: left;
  margin: 30px auto 0;
}
/* line 43, ../sass/partials/_item_single_item.scss */
#medium_img_box img {
  display: block;
  margin: 0 0 10px;
  -webkit-box-shadow: 3px 3px 4px #949494;
  -moz-box-shadow: 3px 3px 4px #949494;
  box-shadow: 3px 3px 4px #949494;
}

/* line 50, ../sass/partials/_item_single_item.scss */
#item_info {
  display: inline-block;
  position: relative;
  width: 430px;
  left: 10px;
  margin: 30px 0 0 0;
  padding: 20px 20px;
  line-height: 130%;
  background-color: #f3e8ba;
  border: 2px solid #EFE0A3;
  -webkit-box-shadow: 7px 7px 14px #aeaeae;
  -moz-box-shadow: 7px 7px 14px #aeaeae;
  box-shadow: 7px 7px 14px #aeaeae;
}
/* line 66, ../sass/partials/_item_single_item.scss */
#item_info div {
  margin: 10px 0 0;
}
/* line 69, ../sass/partials/_item_single_item.scss */
#item_info p {
  margin: 0.25em 0;
}
/* line 73, ../sass/partials/_item_single_item.scss */
#item_info h3 {
  margin: 0;
  width: 300px;
  border-bottom: 2px solid #6f1123;
}
/* line 80, ../sass/partials/_item_single_item.scss */
#item_info #specification p {
  text-align: left;
  margin-top: 30px;
}
/* line 84, ../sass/partials/_item_single_item.scss */
#item_info #specification p span {
  margin: 0 8px 0 0;
  padding: 10px 14px;
  background-image: -webkit-gradient(linear, to bottom right, to top left, color-stop(0%, #c1d3dd), color-stop(20%, #6494c4), color-stop(100%, #1d5894));
  background-image: -webkit-linear-gradient(to bottom right, #c1d3dd, #6494c4 20%, #1d5894);
  background-image: -moz-linear-gradient(to bottom right, #c1d3dd, #6494c4 20%, #1d5894);
  background-image: -o-linear-gradient(to bottom right, #c1d3dd, #6494c4 20%, #1d5894);
  background-image: linear-gradient(to bottom right, #c1d3dd, #6494c4 20%, #1d5894);
  border-top: 1px solid #C1D3DD;
  border-left: 1px solid #C1D3DD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px #888888;
  -moz-box-shadow: 1px 1px 1px #888888;
  box-shadow: 1px 1px 1px #888888;
  color: white;
  font-family: "Champagne", Tahoma, Helvetica, Arial, STXihei, "华文细黑", serif;
  font-size: 20px;
}
/* line 99, ../sass/partials/_item_single_item.scss */
#item_info #specification p #quality {
  font-size: 26px;
  padding: 4px 14px 8px;
  letter-spacing: 1px;
}
/* line 107, ../sass/partials/_item_single_item.scss */
#item_info #item_details {
  width: auto;
  margin-top: 30px;
  border-bottom: 2px solid #6f1123;
}
/* line 112, ../sass/partials/_item_single_item.scss */
#item_info #bottom_line {
  text-align: left;
}
/* line 116, ../sass/partials/_item_single_item.scss */
#item_info #price {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
}

/* line 123, ../sass/partials/_item_single_item.scss */
#item_buttons {
  position: relative;
  display: inline-block;
  margin: 20px 20px;
  left: 10px;
}

/* line 133, ../sass/partials/_item_single_item.scss */
.button_container {
  position: relative;
  display: inline-block;
}

/* line 138, ../sass/partials/_item_single_item.scss */
.item_button {
  display: inline-block;
  padding: 0;
  height: 30px;
  width: 130px;
  background-color: #6f1123;
  color: white;
  font-weight: bold;
  border: none;
  box-sizing: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px #727272;
  -moz-box-shadow: 0px 2px 2px #727272;
  box-shadow: 0px 2px 2px #727272;
}

/* line 155, ../sass/partials/_item_single_item.scss */
.light {
  top: 1px;
  height: 1px;
  position: absolute;
  width: 100%;
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.6)), color-stop(70%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 35%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 35%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 35%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 35%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0));
}

/* line 7, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 9, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../Users/Min/Desktop/Programming/compass.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
